.underln {
    border-bottom: 1px solid gray;
    margin: 30px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underln::before {
    content: 'OR';
    background: #fff;
    width: 50px;
    position: absolute;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instabtn {
    background-color: rgb(0, 149, 246);
}

input:focus {
    outline: 1px rgb(70, 69, 69) solid;
}

.input-container {
    position: relative;
  }
  
  .input-container .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s;
    pointer-events: none;
    color: #999;
  }
  
  .input-container.input-focused .placeholder {
    top: 5px;
    font-size: 12px;
    color: #000;
  }
  